@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@import 'tailwindcss';
@theme {
  --color-cream: #fff8f0;
  --color-strawberry: #e37ea3;
  --color-choco: #9f8474;
  --color-darkChoco: #784e24;
  --color-vanilla: #9f8474;
  --color-pink: #ebb5d6;
  --color-lightPink: #FFF1F6;
  --color-pastelYellow: #fffacd;
  --color-lightGreen: #98cc91;

  --font-title: 'Playwrite HU', cursive;
  --font-body: 'Urbanist', sans-serif;
}
