@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@import "tailwindcss";
@theme {
  --color-cream: #FFF8F0;
  --color-strawberry: #FF6B81;
  --color-choco: #9F8474;
  --color-darkChoco: #784E24;
  --color-vanilla: #9F8474;
  --color-pastelPink: #FADADD;
  --color-pastelYellow: #FFFACD;

  --font-title: "Playwrite HU", cursive;
  --font-body: "Urbanist", sans-serif;
}
